* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 100%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 75%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

textarea {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  resize: none;
}

section {
  padding-left: 220px;
  padding-right: 10px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
@media screen and (max-width: 991px) {
  section {
    padding-left: 70px;
  }
}

body {
  background-image: url("https://static.pexels.com/photos/173434/pexels-photo-173434.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 40%, rgba(255, 255, 255, 0.85) 100%), url("https://static.pexels.com/photos/173434/pexels-photo-173434.jpeg");
  background-repeat: no-repeat;
}

p {
  font-family: "Roboto";
}

.maintitle {
  padding: 20px 0 0px 0%;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

.timesheet-navigation {
  margin-top: -30px;
  margin-left: -12px;
}

.timesheet-buttons {
  margin-top: 30px;
}
.today-timesheet {
  margin-top: 30px;
  position: relative;
  top: -66px;
  left: 200px;
}

.newmsgb, #theDate {
  border: solid 1px #1c7f7d;
  background-color: transparent;
  color: #1c7f7d;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  white-space: nowrap;
}

.newmsgb:hover {
  background-color: #1c7f7d;
  color: white;
}
.newmsgb:focus {
  outline: none !important;
}

#theDate {
  margin-top: 5px;
}

.add-task-timesheet {
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  white-space: nowrap;
  background-color: #DD8F5B;
  border: none;
  margin-left: 10px;
  color: white;
}
.add-task-timesheet:hover {
  background-color: #E15959;
}
.add-task-timesheet:focus {
  outline: none !important;
}

.tab-text {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tab-title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1AAEAB;
  color: white;
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .tab-title {
    display: none;
  }
}
.tab-title div div {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .tab-title div div {
    font-size: 13px;
  }
}

.picked-day {
  font-size: 24px;
  color: #1c7f7d;
}

.dropdown-timesheet {
  position: relative;
  color: black;
  top: -42px;
  left: 140px;
}
.dropdown-timesheet .timesheet-button {
  font-size: 14px;
  border: none;
  background-color: #1c7f7d;
  color: white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
}
.dropdown-timesheet .timesheet-button:focus {
  outline: none;
}
.dropdown-timesheet .timesheet-button .fa-sort {
  padding-right: 6px;
}

.timesheet-menu > li > a:focus, .timesheet-menu > li > a:hover {
  background-color: rgba(28, 127, 125, 0.6);
}

.modal-backdrop.in {
  z-index: 0 !important;
  opacity: 0;
}

.modal-content {
  box-shadow: none !important;
  font-family: Roboto;
}

.timesheet .modal-title {
  text-align: center;
}

.select2-container {
  width: 255px !important;
}

.timesheet select, .timesheet input {
  color: #444;
  line-height: 28px;
  padding-left: 8px;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 255px;
}
@media screen and (max-width: 768px) {
  .timesheet select, .timesheet input {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .timesheet .modal-body {
    display: block;
    margin: auto;
    text-align: center;
  }
}
.timesheet .modal-body .row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.timesheet-description {
  height: 118px !important;
  padding-bottom: 83px !important;
}

.user-aciton {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: white;
  width: 255px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-top: 23px;
  background-color: #E46A6A;
  left: 0px;
  top: 0px;
  -webkit-transition: all 0.1s ease, top 0.1s ease 0.1s, height 0.1s ease 0.1s, background-color 0.1s ease 0.1s;
  transition: all 0.1s ease, top 0.1s ease 0.1s, height 0.1s ease 0.1s, background-color 0.1s ease 0.1s;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .user-aciton {
    width: 200px;
  }
}

.timesheet-task-row {
  padding-top: 10px;
}

.nav-tabs {
  background-color: white;
  border: none;
  width: 100%;
}

.nav-tabs > li {
  width: 150px;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .nav-tabs > li {
    width: 103px;
  }
}
@media screen and (max-width: 650px) {
  .nav-tabs > li {
    font-size: 90px !important;
  }
}

.nav-tabs > li > a {
  color: rgba(28, 127, 125, 0.6);
  font-weight: 700;
  font-size: 15px;
  height: 60px;
  line-height: 40px;
  white-space: nowrap;
}
@media screen and (max-width: 860px) {
  .nav-tabs > li > a {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 650px) {
  .nav-tabs > li > a {
    font-size: 11px !important;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none;
  border-bottom: solid 3px #dd915b;
  border-radius: 0px;
  color: #1c7f7d;
  z-index: 1;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: rgba(28, 127, 125, 0.02);
  border: none;
  border-radius: 0px !important;
}

.tab-content {
  overflow: hidden;
}

.tab-text {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tab-title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1AAEAB;
  color: white;
  font-weight: 100;
}
@media screen and (max-width: 600px) {
  .tab-title {
    display: none;
  }
}